
<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/CFO/dashboard" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">Dashboard</a>
        <a href="/CFO/financemanager_wise" class="nav-btn <% if(page == "finance_manager_wise") {  %>  <%= 'active' %>   <% } %>">finance manager wise expenses</a>
        <a href="/CFO/manager_aggregate" class="nav-btn <% if(page == "manager_aggregate") {  %>  <%= 'active' %>   <% } %>"> manager aggregate</a>
        <a href="/CFO/employe_aggregate" class="nav-btn <% if(page == "employe_aggregate") {  %>  <%= 'active' %>   <% } %>">employe aggregate</a>
        <a href="/CFO/create_finance_manager" class="nav-btn <% if(page == "create_finance_manager") {  %>  <%= 'active' %>   <% } %>">create finance manager</a>
        <a href="/CFO/finance_manager_list" class="nav-btn <% if(page == "finance_manager_list") {  %>  <%= 'active' %>   <% } %>"> finance manager list</a>
       
    </div>

    <div class="nav-user">
        <div class="avatar">BS</div>
        Bhavya Suthar
    </div>
</nav>