
<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/CFO/dashboard"style="text-decoration: none;" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">Dashboard</a>
        <a href="/CFO/financemanager_wise"style="text-decoration: none;" class="nav-btn <% if(page == "finance_manager_wise") {  %>  <%= 'active' %>   <% } %>">Finance-manager-wise Expenses</a>
        <a href="/CFO/manager_aggregate"style="text-decoration: none;" class="nav-btn <% if(page == "manager_aggregate") {  %>  <%= 'active' %>   <% } %>"> Manager Aggregate</a>
        <a href="/CFO/employe_aggregate"style="text-decoration: none;" class="nav-btn <% if(page == "employe_aggregate") {  %>  <%= 'active' %>   <% } %>">Employe Aggregate</a>
        <a href="/CFO/create_finance_manager"style="text-decoration: none;" class="nav-btn <% if(page == "create_finance_manager") {  %>  <%= 'active' %>   <% } %>">Create Finance Manager</a>
        <a href="/CFO/finance_manager_list"style="text-decoration: none;" class="nav-btn <% if(page == "finance_manager_list") {  %>  <%= 'active' %>   <% } %>"> Finance Manager List</a>
        <a href="/profile" style="text-decoration: none;" class="nav-btn"> Profile</a>
       
    </div>

    <div class="nav-user">
  
    </div>
</nav>