
<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/finance_manager/dashboard" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">total expenses</a>
        <a href="/finance_manager/manager-wise" class="nav-btn <% if(page == "manager-wise") {  %>  <%= 'active' %>   <% } %>">manager-wise expenses</a>
        <a href="/finance_manager/manager_aggregate" class="nav-btn <% if(page == "manager_aggregate") {  %>  <%= 'active' %>   <% } %>">manager aggregate</a>
        <a href="/finance_manager/manager_requests" class="nav-btn <% if(page == "manager_requests") {  %>  <%= 'active' %>   <% } %>">manager requests</a>
        <a href="/finance_manager/employe_aggregate" class="nav-btn <% if(page == "employe_aggregate") {  %>  <%= 'active' %>   <% } %>">employee aggregate</a>
        <a href="/finance_manager/create_manager" class="nav-btn <% if(page == "create_manager") {  %>  <%= 'active' %>   <% } %>">create manager</a>
        <a href="/finance_manager/manager_list" class="nav-btn <% if(page == "manager_list") {  %>  <%= 'active' %>   <% } %>">Manager list</a>
        <a href="/profile" class="nav-btn"> Profile</a>
    </div>

    <div class="nav-user">
  
    </div>
</nav>