
<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/finance_manager/dashboard"style="text-decoration: none;" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">Total Expenses</a>
        <a href="/finance_manager/manager-wise"style="text-decoration: none;" class="nav-btn <% if(page == "manager-wise") {  %>  <%= 'active' %>   <% } %>">Manager-wise Expenses</a>
        <a href="/finance_manager/manager_aggregate"style="text-decoration: none;" class="nav-btn <% if(page == "manager_aggregate") {  %>  <%= 'active' %>   <% } %>">Manager Aggregate</a>
        <a href="/finance_manager/manager_requests"style="text-decoration: none;" class="nav-btn <% if(page == "manager_requests") {  %>  <%= 'active' %>   <% } %>">Manager Requests</a>
        <a href="/finance_manager/employe_aggregate"style="text-decoration: none;" class="nav-btn <% if(page == "employe_aggregate") {  %>  <%= 'active' %>   <% } %>">Employee Aggregate</a>
        <a href="/finance_manager/create_manager"style="text-decoration: none;" class="nav-btn <% if(page == "create_manager") {  %>  <%= 'active' %>   <% } %>">Create Manager</a>
        <a href="/finance_manager/manager_list"style="text-decoration: none;" class="nav-btn <% if(page == "manager_list") {  %>  <%= 'active' %>   <% } %>">Manager List</a>
        <a href="/profile"style="text-decoration: none;" class="nav-btn"> Profile</a>
    </div>

    <div class="nav-user">
  
    </div>
</nav>