<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/manager/dashboard" style="text-decoration: none;" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">Dashboard</a>
        <a href="/manager/request"style="text-decoration: none;" class="nav-btn  <% if(page == "form") {  %>  <%= 'active' %>   <% } %>">Add Cost</a>
        <a href="/manager/employee_requests"style="text-decoration: none;" class="nav-btn  <% if(page == "employee_requests") {  %>  <%= 'active' %>   <% } %>">Employee Requests</a>
        <a href="/manager/employee_aggregate"style="text-decoration: none;" class="nav-btn  <% if(page == "employee_aggregate") {  %>  <%= 'active' %>   <% } %>">Employee Aggregate</a>
        <a href="/manager/employe_creation"style="text-decoration: none;" class="nav-btn  <% if(page == "employe_creation") {  %>  <%= 'active' %>   <% } %>">Create Employe</a>
        <a href="/manager/employe_list"style="text-decoration: none;" class="nav-btn  <% if(page == "employe_list") {  %>  <%= 'active' %>   <% } %>"> Employe List</a>
        <a href="/profile"style="text-decoration: none;" class="nav-btn"><i class="fa-solid fa-user"></i> Profile</a>
    </div>

    <div class="nav-user">
       
    </div>
</nav>