<nav class="navbar">
    <div class="navbar-brand">Fund<span>Flow</span></div>

    <div class="nav-links">
        <a href="/manager/dashboard" class="nav-btn <% if(page == "dashboard") {  %>  <%= 'active' %>   <% } %>">Dashboard</a>
        <a href="/manager/request" class="nav-btn  <% if(page == "form") {  %>  <%= 'active' %>   <% } %>">Add Cost</a>
        <a href="/manager/employee_requests" class="nav-btn  <% if(page == "employee_requests") {  %>  <%= 'active' %>   <% } %>">employee requests</a>
        <a href="/manager/employee_aggregate" class="nav-btn  <% if(page == "employee_aggregate") {  %>  <%= 'active' %>   <% } %>">employee aggregate</a>
        <a href="/manager/employe_creation" class="nav-btn  <% if(page == "employe_creation") {  %>  <%= 'active' %>   <% } %>">create employe</a>
        <a href="/manager/employe_list" class="nav-btn  <% if(page == "employe_list") {  %>  <%= 'active' %>   <% } %>"> employe list</a>
    </div>

    <div class="nav-user">
        <div class="avatar">BS</div>
        Bhavya Suthar(manager)
    </div>
</nav>